cp-zookeeper:
  enabled: true
  servers: {{ .Values.kafka.zookeeper.servers }}
cp-kafka:
  enabled: true
  brokers: {{ .Values.kafka.kafka.servers }}
cp-schema-registry:
  enabled: false
cp-kafka-rest:
  enabled: false
cp-kafka-connect:
  enabled: false
cp-ksql-server:
  enabled: false
cp-control-center:
  enabled: false
