controller:
  service:
    type: {{ .Values.ingress.servicetype }}
    loadBalancerIP: {{ .Values.ingress.loadBalancerIP }}
    nodePorts:
      http: {{ .Values.ingress.nodeports.http }}
      https: {{ .Values.ingress.nodeports.https }}
      tcp:
        8080: 32808
